<footer id="footer">
    <div class="container">
        <div class="footer-wrap">
            <div class="footer-logo">
                <a href="#">Derma Care</a>
                <span>© Derma Care 2020. Все права защищены</span>
            </div>
            <ul>
                <li><a href="#">О магазине</a></li>
                <li><a href="#">Доставка и Оплата</a></li>
                <li><a href="#">Бренды</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
    </div>
</footer>