<header id="header">
    <div class="container">
        <div class="header-wrapper">
            <div class="menu-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav class="mobile-nav">
                <ul>
                    <li><a href="#">О магазине</a></li>
                    <li><a href="#">Доставка и Оплата</a></li>
                    <li><a href="#">Бренды</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </nav>
            <a href="#" class="logo">DERMA CARE</a>
            <div class="catalog-btn">
                <a href="#"><img src="./images/catalog.svg" alt="icon"></a>
                <a href="#">Каталог</a>
            </div>
            <nav class="nav">
               <ul>
                <li><a href="#">О магазине</a></li>
                <li><a href="#">Доставка и Оплата</a></li>
                <li><a href="#">DERMA CARE</a></li>
                <li><a href="#">Бренды</a></li>
                <li><a href="#">Контакты</a></li>
               </ul>
            </nav>
            
            <div class="icons">
                <a href="#"><img src="./images/search.svg" alt="icon"></a>
                <a href="#">
                    <img src="./images/basket.svg" alt="icon">
                    <img class="basket-counter"src="./images/basket_counter.svg" alt="icon">
                </a>
                <a href="#"><img src="./images/profile_icon.svg" alt="icon"></a>
            </div>
        </div>
    </div>
 </header>