<footer id="footer">
        <div class="footer_first">
            <div class="container">
                <div class="footer_content">
                    <div class="footer_title">
                        <span class="subtitle subtitle_secondary">Became a member</span>
                        <h2>Ready to try different work experience now?</h2>
                        <p>Get the best working experience that you never feel before</p>
                        <a href="#" class="btn btn_primary btn_footer">SIGN UP NOW</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer_second">
            <div class="container">
               <div class="footer_second_content">
                    <div class="footer_second_logo">
                        <span>Frispes</span>
                        <p>We offer comfortable spaces, cozy cafe, high-speed internet, spacious parking area and many more for your best
                            workspaces and meetings</p>
                        <div id="contact" class="contacts">
                            <a target="_blank" href="https://instagram.com/"><img src="./images/Instagram.svg" alt="logo"></a>
                            <a target="_blank" href="https://youtube.com"><img src="./images/YouTube.svg" alt="logo"></a>
                            <a target="_blank" href="https://facebook.com"><img src="./images/Facebook.svg" alt="logo"></a>
                        </div>
                    </div>
                    <div class="footer_second_info">
                        <div class="footer_menu">
                            <p>Spaces</p>
                            <ul>
                                <li><a href="#">Co-working spaces</a></li>
                                <li><a href="#">Meeting rooms</a></li>
                                <li><a href="#">Event spaces</a></li>
                                <li><a href="#">Child playground</a></li>
                                <li><a href="#">Cafe & resto</a></li>
                            </ul>
                        </div>
                        <div class="footer_menu">
                            <p>Company</p>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Press</a></li>
                            </ul>
                        </div>
                        <div class="footer_menu">
                            <p>Support</p>
                            <ul>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                        <div class="footer_menu">
                            <p>Contact Us</p>
                            <ul>
                                <li><a href="mailto:Hello@frispes.com">E. Hello@frispes.com</a></li>
                                <li>A. Jalan Jayakatwang No.301 <br>
                                    Ngasem, Kediri</li>
                                <li><a href="tel:+6282334670000">P. (+62) 82334670000</a></li>
                            </ul>
                        </div>
                    </div>
               </div>
            </div>
        </div>
</footer>