<header id="header">
    <div class="header-wrapper">
        <div class="container">


            <div class="profile_truck_wrapper">
                <div class="profile">
                    <div class="profile_wrapper">
                        <img src="./images/profile.png" alt="profile">
                        <span class="arrow"><img src="./images/arrow.png" alt="arrow"></span>
                    </div>
                    
                    <ul class="profile_descr">
                        <li><a href="#">Профиль</a></li>
                        <li><a href="#">Избранные</a></li>
                        <li><a href="#">Настройки</a></li>
                        <li><a href="#">Выход</a></li>
                    </ul>
                </div>
                <div class="truck">
                    <a href="#"><img src="./images/basket.svg" alt=""></a>
                    <span>0</span>
                </div>
            </div>
        </div>
    </div>


    <div class="header-logo-wrapper">
        <div class="container">
            <div class="logotype_contacts_wrapper">
                <div class="logotype">
                    <a href="#"><img src="./images/logo.svg" alt=""></a>
                </div>
                <div class="contacts">
                    <p>Заказать обратный звонок</p>
                    <span><a href="tel:+380445011441">+38 (044) 501 14 41</a></span>
                    <span><a href="tel:+380577840709">+38 (057) 784 07 09</a></span>
                </div>
            </div>
        </div>
    </div>
 </header>